.toggler {
    display: none;
}
.menu_label {
    width: 50px;
    height: 50px;
    margin-left: auto;
}
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* MENU INSIDE  */
.menu_wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}
.menu_wrap .menu > div {
    background-color: #2D1674;
    width: 0vw;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
    /* transform: scaleX(0); */
    transition: 0.4s ease;
}
.menu_wrap .menu > div > div {
    text-align: center;
    width: 80vw;
    /* max-width: 90vw;
    max-height: 100vh; */
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu_wrap .menu > div > div > ul {
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
}
.menu_wrap .menu > div > div > ul > li {
    padding: 10px;
    color: #fff;
}
.menu_wrap .menu > div > div > ul > li > a {
    color: inherit;
    font-size: 1.1rem;
    padding: 1rem;
    transition: color 0.4s ease;
    border-radius: 5px;
    text-decoration: none;
}
.menu_wrap .menu > div > div > ul > li > a:hover {
    background-color: #4871E8;
}
/* Hamburger Line */
.menu_label .hamburger > div {
    position: relative;
    width: 60%;
    height: 5px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 2;
}
.menu_label .hamburger > div::before,
.menu_label .hamburger > div::after {
    content: '' ;
    position: absolute;
    z-index: 1;
    top: -12px;
    width: 100%;
    height: 5px;
    background-color: inherit;
}
.menu_label .hamburger > div::after {
    top: 12px;
}

/* Toggler animate */
.menu_wrap .toggler:checked ~ .menu_label .hamburger div {
    transform: rotate(135deg);
    background-color: white;
}
/* Turn lines into X */
.menu_wrap .toggler:checked ~ .menu_label .hamburger div::before,
.menu_wrap .toggler:checked ~ .menu_label .hamburger div::after {
    top: 0;
    transform: rotate(90deg);
}
/* Fix the button */
.menu_wrap .toggler:checked ~ .menu_label {
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 2;
}
/* Show Menu */
.menu_wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu_wrap .toggler:checked ~ .menu > div {
/* transform: scaleX(1); */
width: 80vw;
transition-duration: 0.75s;
}
.menu_wrap .toggler:checked ~ .menu > div > div {
opacity: 1;
transition: opacity 0.4s ease;
}


